@charset "ISO-8859-1";

body {
    padding-top: 60px;
}

table {
    font-size: 14pt;
    margin: 10px;
}

html {
    position: relative;
    min-height: 100%;
}

.multiline {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}