<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="'Kubernetes Pod ' + ${podName}"></title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.css">
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.14.1/umd/popper.js"></script>
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css">
    <link href="/css/pods.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Kubernetes Dashboard</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/namespaces/{ns}(ns=${namespace})}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/namespaces/{ns}/pods(ns=${namespace})}">Pods</a>
            </li>
        </ul>
        <span class="navbar-text" id="podName" th:text="'Kubernetes Pod ' + ${podName}"></span>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <table class="table table-hover">
            <tbody>
            <tr>
                <td>Name:</td>
                <td th:text="${pod.name}"></td>
            </tr>
            <tr>
                <td>Namespace:</td>
                <td th:text="${pod.namespace}"></td>
            </tr>
            <tr th:if="${pod.priority} != null">
                <td>Priority</td>
                <td th:text="${pod.priority}"></td>
            </tr>
            <tr th:if="${pod.priority} != null">
                <td>PriorityClassName</td>
                <td th:text="((${pod.priorityClassName} == null) ? '' : ${pod.priorityClassName})"></td>
            </tr>
            <tr>
                <td>Node:</td>
                <td th:if="${pod.node} == null">&lt;none&gt;</td>
                <td th:unless="${pod.node} == null" th:text="${pod.node} + '/' + ${pod.hostIp}"></td>
            </tr>
            <tr th:if="${pod.startTime} != null">
                <td>Start Time:</td>
                <td th:text="${#dates.format(pod.startTime.toDate(), 'EEE, dd MMM yyyy HH:mm:ss Z')}"></td>
            </tr>
            <tr>
                <td>Labels:</td>
                <td th:if="${pod.labels} == null">&lt;none&gt;</td>
                <td th:unless="${pod.labels} == null">
                    <ul class="multiline">
                        <li th:each="label : ${pod.labels}" th:text="${label}"></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Annotations:</td>
                <td th:if="${pod.annotations} == null">&lt;none&gt;</td>
                <td th:unless="${pod.annotations} == null">
                    <ul class="multiline">
                        <li th:each="annotation : ${pod.annotations}" th:text="${annotation}"></li>
                    </ul>
                </td>
            </tr>
            <tr th:if="${pod.deletionTimestamp} != null">
                <td>Status:</td>
                <td th:text="'Terminating (lasts ' + ${pod.deletionDuration} + ')'"></td>
            </tr>
            <tr th:if="${pod.deletionTimestamp} != null">
                <td>Termination Grace Period:</td>
                <td th:text="${pod.deletionGracePeriodSeconds}"></td>
            </tr>
            <tr th:if="${pod.deletionTimestamp} == null">
                <td>Status:</td>
                <td th:text="${pod.status}"></td>
            </tr>
            <tr th:unless="${#strings.isEmpty(pod.describeReason)}">
                <td>Reason:</td>
                <td th:text="${pod.describeReason}"></td>
            </tr>
            <tr th:unless="${#strings.isEmpty(pod.message)}">
                <td>Message:</td>
                <td th:text="${pod.message}"></td>
            </tr>
            <tr>
                <td>IP:</td>
                <td th:text="${pod.podIp}"></td>
            </tr>
            <tr th:unless="${#strings.isEmpty(pod.controlledBy)}">
                <td>Controlled By:</td>
                <td th:text="${pod.controlledBy}"></td>
            </tr>
            <tr th:unless="${#lists.isEmpty(pod.initContainers)}">
                <td>Init Containers:</td>
                <td th:insert="container_describe :: container(${pod.initContainers})"></td>
            </tr>
            <tr th:unless="${#lists.isEmpty(pod.containers)}">
                <td>Containers:</td>
                <td th:insert="container_describe :: container(${pod.containers})"></td>
            </tr>
            <tr th:unless="${#maps.isEmpty(pod.conditions)}">
                <td>Conditions:</td>
                <td>
                    <table class="table table-hover">
                        <tr>
                            <td>Type</td>
                            <td>Status</td>
                        </tr>
                        <tr th:each="condition : ${pod.conditions}">
                            <td th:text="${condition.key}"></td>
                            <td th:text="${condition.value}"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr th:replace="volume::volume(${pod.volumes})">
            </tr>
            <tr>
                <td>QoS Class:</td>
                <td th:if="${pod.qos} == null">&lt;Unknown&gt;></td>
                <td th:unless="${pod.qos} == null" th:text="${pod.qos}"></td>
            </tr>
            <tr>
                <td>Node-Selectors</td>
                <td th:if="${pod.nodeSelectors} == null">&lt;none&gt;</td>
                <td th:unless="${pod.nodeSelectors} == null">
                    <ul class="multiline">
                        <li th:each="selector : ${pod.nodeSelectors}" th:text="${selector}"></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Tolerations:</td>
                <td th:if="${#lists.isEmpty(pod.tolerations)}">&lt;none&gt;</td>
                <td th:unless="${#lists.isEmpty(pod.tolerations)}">
                    <ul class="multiline">
                        <li th:each="toleration : ${pod.tolerations}" th:text="${toleration}"></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Events:</td>
                <td th:if="${#lists.isEmpty(events)}">&lt;none&gt;</td>
                <td th:unless="${#lists.isEmpty(events)}">
                    <table class="table table-hover">
                        <tr>
                            <td>Type</td>
                            <td>Reason</td>
                            <td>Age</td>
                            <td>From</td>
                            <td>Message</td>
                        </tr>
                        <tr th:each="event : ${events}">
                            <td th:text="${event.type}"></td>
                            <td th:text="${event.reason}"></td>
                            <td th:text="${event.interval}"></td>
                            <td th:text="${event.source}"></td>
                            <td th:text="${event.message}"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>