<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Kubernetes Pods</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.css">
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.14.1/umd/popper.js"></script>
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css">
    <link href="/css/pods.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Kubernetes Dashboard</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/namespaces/{ns}(ns=${namespace})}">Home</a>
            </li>
        </ul>
        <span class="navbar-text" id="podName" th:text="'Pods for ' + ${namespace}"></span>

    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Pod Name</th>
                <th>Ready</th>
                <th>Status</th>
                <th>Restarts</th>
                <th>Age</th>
                <th>Details</th>
                <th>Logs</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pod : ${pods}">
                <td>
                    <a th:href="@{/namespaces/{namespace}/pods/{podName}/logs(namespace=${namespace},podName=${pod.name})}"
                       th:text="${pod.name}"></a></td>
                <td th:text="${pod.ready}"></td>
                <td th:text="${pod.reason}"></td>
                <td th:text="${pod.restarts}"></td>
                <td th:text="${pod.age}"></td>
                <td><a href="#"
                       th:href="@{/namespaces/{namespace}/pods/{podName}(namespace=${namespace},podName=${pod.name})}"><span
                        class="fas fa-info-circle"></span></a></td>
                <td><a href="#"
                       th:href="@{/namespaces/{namespace}/pods/{podName}/logs(namespace=${namespace},podName=${pod.name})}"><span
                        class="fas fa-file-alt"></span></a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>