<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="'Kubernetes Pod ' + ${podName}"></title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.css">
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.14.1/umd/popper.js"></script>
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/font-awesome/5.0.13/web-fonts-with-css/css/fontawesome-all.min.css">
    <link href="/css/pods.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Kubernetes Dashboard</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/namespaces/{ns}(ns=${namespace})}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" th:href="@{/namespaces/{ns}/replicasets(ns=${namespace})}">Replica Sets</a>
            </li>
        </ul>
        <span class="navbar-text" id="podName" th:text="'Kubernetes Replica Set ' + ${replicaSetName}"></span>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <table class="table table-hover">
            <tbody>
            <tr>
                <td>Name:</td>
                <td th:text="${replicaSet.name}"></td>
            </tr>
            <tr>
                <td>Namespace:</td>
                <td th:text="${replicaSet.namespace}"></td>
            </tr>
            <tr>
                <td>Selector:</td>
                <td th:text="${replicaSet.selector}"></td>
            </tr>
            <tr>
                <td>Labels:</td>
                <td th:if="${replicaSet.labels} == null">&lt;none&gt;</td>
                <td th:unless="${replicaSet.labels} == null">
                    <ul class="multiline">
                        <li th:each="label : ${replicaSet.labels}" th:text="${label}"></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Annotations:</td>
                <td th:if="${replicaSet.annotations} == null">&lt;none&gt;</td>
                <td th:unless="${replicaSet.annotations} == null">
                    <ul class="multiline">
                        <li th:each="annotation : ${replicaSet.annotations}" th:text="${annotation}"></li>
                    </ul>
                </td>
            </tr>
            <tr th:unless="${#strings.isEmpty(replicaSet.controlledBy)}">
                <td>Controlled By:</td>
                <td th:text="${replicaSet.controlledBy}"></td>
            </tr>
            <tr>
                <td>Replicas:</td>
                <td th:text="${replicaSet.current} + ' current / ' + ${replicaSet.desired} + ' desired'"></td>
            </tr>
            <tr>
                <td>Pods Status:</td>
                <td th:text="${replicaSet.status.running} + ' Running / ' + ${replicaSet.status.waiting} + ' Waiting / ' + ${replicaSet.status.succeeded} + ' Succeeded / ' + ${replicaSet.status.failed} + ' Failed'"></td>
            </tr>
            <tr th:replace="pod_template::template(${replicaSet.podTemplate})">
            </tr>
            <tr th:unless="${#maps.isEmpty(replicaSet.conditions)}">
                <td>Conditions:</td>
                <td>
                    <table class="table table-hover">
                        <tr>
                            <td>Type</td>
                            <td>Status</td>
                        </tr>
                        <tr th:each="condition : ${replicaSet.conditions}">
                            <td th:text="${condition.key}"></td>
                            <td th:text="${condition.value}"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>Events:</td>
                <td th:if="${#lists.isEmpty(events)}">&lt;none&gt;</td>
                <td th:unless="${#lists.isEmpty(events)}">
                    <table class="table table-hover">
                        <tr>
                            <td>Type</td>
                            <td>Reason</td>
                            <td>Age</td>
                            <td>From</td>
                            <td>Message</td>
                        </tr>
                        <tr th:each="event : ${events}">
                            <td th:text="${event.type}"></td>
                            <td th:text="${event.reason}"></td>
                            <td th:text="${event.interval}"></td>
                            <td th:text="${event.source}"></td>
                            <td th:text="${event.message}"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>