<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="volume (volume)">
    <tr>
        <td>Volumes:</td>
        <td th:if="${volume.volumes } == null">&lt;none&gt;</td>
        <td th:unless="${volume.volumes } == null">
            <table class="table table-hover">
                <tr th:each="volume : ${volume.volumes}">
                    <td th:text="${volume.key}"></td>
                    <td th:if="${volume.value } == null">&lt;Unknown&gt;></td>
                    <td th:unless="${volume.value } == null">
                        <table class="table table-hover">
                            <tr th:each="info : ${volume.value}">
                                <td th:text="${info.key}"></td>
                                <td th:if="${info.value } == null">&lt;none&gt;></td>
                                <td th:unless="${info.value } == null" th:text="${info.value}"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</div>
</body>
</html>